#titulo{
    text-align: center;
}
.dos{
    height: 150px;
    width: 150px;
    border: solid black 2px;
    
}
div.contenedor{
    height: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
text-justify: center;
    justify-items: center;
}